# all ignore #
/*
/.**

!/sway/ 
!/swayr/
!/wob/
!/wofi/
!/fish/
!/omf/
!/nwg-launchers/ 
!/nvim/ 
!/nnn/
!/mc/
!/mako/
!/hypr/
!/btop/
!/cava/
!/nwg-drawer/
!/backgrounds/

# global #
__pycache__
!/README.md
!/LICENSE
!.gitignore
!.gitkeep